
/* @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap');

*{
    box-sizing: border-box;
    overflow: hidden;
    margin: 0px;
    padding:10px;
    margin-left:0;
    /* font-family: 'Cinzel', serif; */
    font-family: 'Ubuntu', sans-serif;


    font-size: 16px;

}
.row{
    width: 100vw;
}

.padding-0{
    margin-top: 5%;

}

.jumbotron1{
    background: #e3ece9;
    border-radius: 5px;
}

.font{
    font-size: 40px;
    color:#3d7a66b7;



}




