<h2 class='pt-4 pb-2 text-center font'>Let's Connect</h2>
<div class="container-fluid rounded ml-0">
    
    <div class="row pt-5 jumbotron1 ">
       
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 padding-0 ">
            
            <div class="row">
                <div>
                    <img src='../../../assets/location-icon-png-4237.ico' width='50px' height='20px' class='img-fluid'>
                    <span>9-b Professor Colony, Yamunanagar, Haryana</span>
                </div>
            </div>
            
                
            
            <div class="row">
                    <div>
                        <img src='../../../assets/call.ico' width='50px' height='20px' class='mx-0 img-fluid'>
                        <span>+91 8708873958</span>
                        
                    </div>
            </div>
                
                
            <div class="row">
                    <div>
                        <img src='../../../assets/email (2).ico' width='50px' height='20px' class='img-fluid'>
                            <a href="mailto:deventureselect@gmail.com">deventureselect@gmail.com</a>
                        
                    </div>
            </div>
                

           

            <hr width="450px">

        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
            
            <div class="px-4">
                <app-contact-form></app-contact-form>
    
                </div>

        </div>
    </div>
</div>



