<div id="carousel" class="carousel slide hero-slides " data-ride="carousel">
        
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active boat">
        <div class="container h-100  d-md-block">
          <div class="row align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
              <div class="caption animated fadeIn">
                <h2 class="animated fadeInLeft">Hustle Ride 2020</h2>
                <p class="animated fadeInRight">Hustle Ride  is a fun leisure event that combines riding and camping into a 2-day  activity. The fun does not end when the sun goes down as the evenings will be about listening to music and exchanging stories over a bonfire.</p>
                <button class="animated fadeInUp btn delicious-btn" (click)="payments()">Register Now!</button>

              </div>
            </div>
          </div>
        </div>
      </div>
  </div>


<div class="container">

<div class="row text-center">

    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mt-2 mb-2 px-5">
        <img src='../../../assets/Calendar-Background-PNG (1).ico' class='img-fluid icon-details'>

        <div class='lead font-weight-light mar about'>Date</div>

        <div class=' lead font-weight-normal'>Dec 12-13, 2020</div>

    </div>

    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mt-2 mb-2 px-5">
        <img src='../../../assets/location-icon-png-4237.ico' class='img-fluid icon-details'>

        <div class='lead font-weight-light mar about'>Destination</div>

        <div class=' lead font-weight-normal'>Rishikesh</div>



    </div>

    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mt-2 mb-2 px-5">
        <img src='../../../assets/duration.ico' class='img-fluid icon-details'>

        <div class='lead font-weight-light mar about'>Duration</div>

        <div class=' lead font-weight-normal'>2 Days </div>



    </div>

    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mt-2 mb-2 px-5">
        <img src='../../../assets/wallet-filled-money-tool.ico' class='img-fluid icon-details'>

        <div class='lead font-weight-light mar about'>Price</div>

        <div class=' lead font-weight-normal'>Individual: INR 2799; Couple: INR 4999</div>



    </div>

</div>
</div>

<div class="jumbotron">
<h3 class='display-5 text-center about'>Why you should be at Deventure Select-Hustle Ride? </h3>
<div class="bod">
<div class="typing-slider ">
    <p >Adventure</p>
    <p >Camping</p>
    <p >Sundowner</p>
</div>

</div>
    
</div>
