@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

*{
    box-sizing: border-box;
    /* margin: 0%;
    padding: 0%; */
    overflow: hidden;
}

/* .cover{
    width: 100%;
    max-height: 90vh;
}
.containers {
    position: relative;
    text-align: center;
    color: white;
  }
  .centered {
    height: 90vh;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
  } */



.about{
  /* font-family: 'Caveat', cursive; */
  font-family: 'Cinzel', serif;

}

 


.written{
    margin-top: 20px;
    display: flex;
  justify-content: space-around;
}
.text {
    
    width: 60%;
    font-size: 0.8rem;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    /* font-family: 'Courgette', cursive; */
    /* font-family: 'Kalam', cursive; */
  font-family: 'Cinzel', serif;    
  }

.icon-details{
    width: 50px;
    height: 50px;
}
.lead{
    color: rgba(37, 37, 36, 0.603);
}

.mar{
    margin-top: 4px;
    margin-bottom: 4px;
}



  .bod {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    /* background-color: #FFCC00; */
  }
  @keyframes cursor {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: black;
    }
  }
  @keyframes typing {
    from {
      width: 100%;
    }
    90%, to {
      width: 0;
    }
  }
  @keyframes slide {
    33.3333333333% {
      font-size: 1.6rem;
      letter-spacing: 15px;
    }
    to {
      font-size: 0;
      letter-spacing: 0;
    }
  }
  .typing-slider {
    font-family: Consolas, monospace;
    /* font-family: 'Courgette', cursive; */
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
  }
  .typing-slider p {
    position: relative;
    
    display: inline;
    font-size: 0;
    text-transform: uppercase;
    letter-spacing: 0;
    animation: slide 15s step-start infinite;
  }
  .typing-slider p::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-left: 3px solid black;
    background-color: #2b9eb3;
    animation: typing 5s infinite, cursor 1s infinite;
  }
  .typing-slider p:nth-child(1) {
    animation-delay: 0s;
  }
  .typing-slider p:nth-child(1)::after {
    animation-delay: 0s;
    animation-timing-function: steps(16), step-end;
  }
  .typing-slider p:nth-child(2) {
    animation-delay: 5s;
  }
  .typing-slider p:nth-child(2)::after {
    animation-delay: 5s;
    animation-timing-function: steps(23), step-end;
  }
  .typing-slider p:nth-child(3) {
    animation-delay: 10s;
  }
  .typing-slider p:nth-child(3)::after {
    animation-delay: 10s;
    animation-timing-function: steps(12), step-end;
  }


  
#carousel .carousel-item.boat {
    background-image: url("../../../assets/cover.jpg");
  }
  
  #carousel .carousel-item.sea {
    /* background-image: url("https://picsum.photos/1200/600/?image=1050"); */
    background-image: url("../../../assets/cover.jpg");

  }
  
  #carousel .carousel-item.river {
    /* background-image: url("https://picsum.photos/1200/600/?image=1015"); */
    background-image: url("../../../assets/cover.jpg");

  }
  
  #carousel .carousel-item {
    height: 100vh;
    width: 100%;
    min-height: 350px;
    background: no-repeat center center scroll;
    background-size: cover;
  }
  
  #carousel .carousel-inner .carousel-item {
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
  }
  
  #carousel .carousel-item .caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    color: white;
    animation-duration: 1s;
    animation-delay: 2s;
  }
  
  #carousel .caption h2 {
    animation-duration: 1s;
    animation-delay: 2s;
  }
  
  #carousel .caption p {
    animation-duration: 1s;
    animation-delay: 2.2s;
  }
  
  #carousel .caption a {
    animation-duration: 1s;
    animation-delay: 2.4s;
  }
  
  .delicious-btn {
    display: inline-block;
    min-width: 160px;
    height: 60px;
    color: #ffffff;
    border: none;
    border-left: 3px solid #1c8314;
    border-radius: 0;
    padding: 0 30px;
    font-size: 16px;
    line-height: 58px;
    font-weight: 600;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-transform: capitalize;
    background-color: #40ba37;
  }
  
  .delicious-btn.active, .delicious-btn:hover, .delicious-btn:focus {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #1c8314;
    border-color: #40ba37;
  } 

  