


<div class="container">
    <div class="row ">
        <div class="center">
            <a class="facebook" href="https://www.facebook.com/deventureselect/" target="_blank">
                <img class="icons" src='../../../assets/f_logo_RGB-Blue_1024.png' width="50px" height="50px">
            </a>
    
            <a class="instagram" href="https://instagram.com/deventureselect?igshid=qjqs6z80az88" target="_blank">
                <img class="icons" src='../../../assets/instagram-logo-png-2428.png' width="50px" height="50px">
            </a>
    
            <a class="whatsapp" href="https://wa.me/919996111033" target="_blank">
                <img class="icons" src='../../../assets/whatsapp.png' width="50px" height="60px">
            </a>
        </div>
      
       
</div>
    <p class="font-italic text-muted mb-0 text-center"> Copyrights &copy; 2020 Deventure Select. All Rights Reserved.</p>
    
      
</div>