*{
  box-sizing: border-box;
  overflow: hidden;
  
}

.container{
  height: 20vh;
}

.center{
  margin-left: auto;
  margin-right: auto;

}

a{
  margin-left: 45px;
  margin-left: 45px;
}

img {
  /* border-radius: 50%; */
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}