<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a [routerLink]= "['/']" class="navbar-brand">
        <img src='../../../assets/1.png' width='95' height="45" alt="Deventure Select">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a [routerLink]= "['/aboutUs']" class="nav-item nav-link" >About Us</a>
            <a [routerLink]= "['/contactUs']" class="nav-item nav-link">Contact Us</a>
            <a [routerLink]= "['/faq']" class="nav-item nav-link">FAQ </a>


            
        </div>
        <div class="navbar-nav ml-auto">
            <a [routerLink]= "['/hustleRide']" class="nav-item nav-link">Hustle Ride </a>
            <!-- <a [routerLink]= "['/register']" class="nav-item nav-link">Registeration </a> -->
        </div>
    </div>
</nav>
  
