<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form [formGroup]="submitForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>First Name <span class='text-danger'>*</span></label>
                        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Last Name<span class='text-danger'>*</span></label>
                        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{'is-invalid': submitted && f.lastName.errors }" />
                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email <span class='text-danger'>*</span></label>
                        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Contact<span class='text-danger'>*</span> </label>
                        <input type="text" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                            <div *ngIf="f.phone.errors.required">Contact Number is required</div>
                            <div *ngIf="f.phone.errors.pattern">Contact Number must be valid</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Message </label>
                        <textarea type="text" formControlName="message" class="form-control"  >
                        </textarea>
                       
                    </div>

               
                    <div class="form-group">
                        <button class="btn btn-primary">Submit</button>

                        

                        <div class="row mt-3"  *ngIf="showMsg">
                            <div class="col-xs-12">
                              <p class="alert alert-success">
                                  <strong>Your Data has been submitted Successfully!</strong><br>Our Team Will Get In Touch With You Shortly. 
                    
                              </p>
                            </div>
                          </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>