
<!-- <img src='../../../assets/lamp.jpg' class="kenburns-top" > -->


<!-- <app-contact-form></app-contact-form>
<a href="https://rzp.io/i/jmLzrE9ZP"> PAy</a> -->



<div class="container-fluid" >
    <div class="row">
    <img src="../../../assets/cover.jpg"  id="weddingImage" class="img-fluid cover">
    </div>
</div>

<div class="  written container-fluid">

    <div class="row text">
        <p>Scramble is a fun off-road centric event that combines trail riding, dirt track, and a trials course into a
            1-day competitive activity. The participants will be judged on their overall performance and the challenges
            are designed to let everybody have fun. The fun does not end when the sun goes down as the evenings will be
            about listening to music and exchanging stories over a bonfire.</p>
    </div>
</div>

<div class="container">

    <div class="row text-center">

        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mt-2 mb-2 px-5">
            <img src='../../../assets/Calendar-Background-PNG (1).png' class='img-fluid icon-details'>

            <div class='lead font-weight-light mar '>Date</div>

            <div class=' lead font-weight-normal'>Nov 1-2, 2020</div>

        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mt-2 mb-2 px-5">
            <img src='../../../assets/location-icon-png-4237.png' class='img-fluid icon-details'>

            <div class='lead font-weight-light mar'>Destination</div>

            <div class=' lead font-weight-normal'>Narkanda</div>



        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mt-2 mb-2 px-5">
            <img src='../../../assets/duration.png' class='img-fluid icon-details'>

            <div class='lead font-weight-light mar'>Duration</div>

            <div class=' lead font-weight-normal'>3 Days </div>



        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mt-2 mb-2 px-5">
            <img src='../../../assets/wallet-filled-money-tool.png' class='img-fluid icon-details'>

            <div class='lead font-weight-light mar'>Price</div>

            <div class=' lead font-weight-normal'>Individual: INR 1500; Couple: INR 2500</div>



        </div>

    </div>
</div>

<div class="jumbotron">
    <h1 class='display-3 text-center'>Why you should be at Deventure Select-Event Name </h1>

        <div class="typing-slider bod">
            <p>Adventure</p>
            <p>Camping</p>
            <p>Sundowner</p>
      </div>
      
</div>

<div id="carousel" class="carousel slide hero-slides " data-ride="carousel">
        <ol class="carousel-indicators">
          <li class="active" data-target="#carousel" data-slide-to="0"></li>
          <li data-target="#carousel" data-slide-to="1"></li>
          <li data-target="#carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active boat">
            <div class="container h-100 d-none d-md-block">
              <div class="row align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                  <div class="caption animated fadeIn">
                    <h2 class="animated fadeInLeft">Boat Excursions</h2>
                    <p class="animated fadeInRight">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique nisl vitae luctus sollicitudin. Fusce consectetur sem eget dui tristique, ac posuere arcu varius.</p>
                    <!-- <a class="animated fadeInUp btn delicious-btn" href="#">Learn more</a> -->
                    <a [routerLink]= "['/register']" class="animated fadeInUp btn delicious-btn">Learn More</a>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item sea">
            <div class="container h-100 d-none d-md-block">
              <div class="row align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                  <div class="caption animated fadeIn">
                    <h2 class="animated fadeInLeft">Discover the canyon by the sea</h2>
                    <p class="animated fadeInRight">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique nisl vitae luctus sollicitudin. Fusce consectetur sem eget dui tristique, ac posuere arcu varius.</p>
                    <!-- <a class="animated fadeInUp btn delicious-btn" href="#">Learn more</a> -->
                    <a [routerLink]= "['/register']" class="animated fadeInUp btn delicious-btn">Learn More</a>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item river">
            <div class="container h-100 d-none d-md-block">
              <div class="row align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                  <div class="caption animated fadeIn">
                    <h2 class="animated fadeInLeft">Explore the river valley</h2>
                    <p class="animated fadeInRight">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique nisl vitae luctus sollicitudin. Fusce consectetur sem eget dui tristique, ac posuere arcu varius.</p>
                    <!-- <a class="animated fadeInUp btn delicious-btn" href="#">Learn more</a> -->
                    <a [routerLink]= "['/register']" class="animated fadeInUp btn delicious-btn">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
