<div class="block">
    <div class="block__item">
        <div class="block__inner">
            <h1>Plan Your Trip</h1>
            <div class="block__description">
                <p>
                  Welcome This Winter with the Majestic Hustle Ride. Join us to experience one of th most memorable experience of your lifetime. This ecstatic journey will be filled with joy, laughter, sceneries, and fun. Experience professional motorbiking experience to the valleys. Drive your two wheeler to Rishikesh and upon your arrival enjoy delicious snacks and a comfortable stay in camps along the holy Ganges.
                </p>
                <p>
                    Enjoy Rafting, volleyball, badminton, cards, jokes, stories, bonfire, camping, food, and other exciting adventure sports and make unforgettable memories.
                </p>

                <p>We shall also be ensuring that your vehicle security in terms of mechanical failure is evaded. We shall be providing a Trained and Official Mechanic on our journey along with a Service Vehicle.</p>
            </div>
        </div>
    </div>

    <div class="block__item">
        <div class="block__inner">
            <h2>Travel Itinerary</h2>
            <div class="list">
                <div class="list__item">
                    <div class="list__time">20 Dec 2020</div>

                    <div class="list__time">8:00 am</div>
                    <div class="list__border"></div>
                    <div class="list__desc">
                        <h3>Departure</h3>
                        <div>Yamunanagar</div>
                        <!-- <div>Boarding: 5:30 am Destination: Miami, FL</div> -->
                        <div class="border"></div>
                    </div>
                </div>
                <div class="list__item">

                    <div class="list__time"></div>

                    <div class="list__time">11:00 am</div>
                    <div class="list__border"></div>
                    <div class="list__desc">
                        <h3>Halt at Dehradun</h3>
                        <div>Snacks will be served</div>
                        <!-- <div></div> -->
                        <div class="border"></div>
                    </div>
                </div>
                <div class="list__item">
                    <div class="list__time"> </div>

                    <div class="list__time">11:00 am</div>
                    <div class="list__border"></div>
                    <div class="list__desc">
                        <h3>Meetup At Dehradun</h3>
                        <div>Other Bikers shall join</div>
                        <!-- <div>Check-in: 2:00 pm</div> -->
                        <div class="border"></div>
                    </div>
                </div>
                <div class="list__item">
                    <div class="list__time"></div>

                    <div class="list__time">1:00 pm</div>
                    <div class="list__border"></div>
                    <div class="list__desc">
                        <h3>Reach Rishikesh</h3>
                        <div>Rest for a while</div>
                        <!-- <div>Showtime: 7:00 pm</div> -->
                        <div class="border"></div>
                    </div>
                </div>
               

                <div class="list__item">
                    <div class="list__time"></div>

                    <div class="list__time">1:30 pm</div>
                    <div class="list__border"></div>
                    <div class="list__desc">
                        <h3>Lunch will be provided</h3>
                        <div>Enjoy the delicious meal</div>
                        <!-- <div>Boarding: 11:00 am Destination: Denver, CO</div> -->
                        <div class="border"></div>
                    </div>
                </div>

                <div class="list__item">
                    <div class="list__time"></div>

                    <div class="list__time">2:30 pm</div>
                    <div class="list__border"></div>
                    <div class="list__desc">
                        <h3>Turn up for Rafting</h3>
                        <div>Experience the Thrill</div>
                        <!-- <div>Boarding: 11:00 am Destination: Denver, CO</div> -->
                        <div class="border"></div>
                    </div>
                </div>
                <div class="list__item">
                    <div class="list__time"></div>

                    <div class="list__time">5:30 pm</div>
                    <div class="list__border"></div>
                    <div class="list__desc">
                        <h3>Evening Snacks will be served</h3>
                        <div>Enjoy the snacks over the bonfire</div>
                        <!-- <div>Boarding: 11:00 am Destination: Denver, CO</div> -->
                        <div class="border"></div>
                    </div>
                </div>

                <div class="list__item">
                    <div class="list__time"></div>

                    <div class="list__time">8:00 pm</div>
                    <div class="list__border"></div>
                    <div class="list__desc">
                        <h3>Dinner will be provided</h3>
                        <div>Have your dinner in the most blessful vibes</div>
                        <!-- <div>Boarding: 11:00 am Destination: Denver, CO</div> -->
                        <div class="border"></div>
                    </div>
                </div>
                <div class="list__item">
                    <div class="list__time">21 Dec 2020</div>

                    <div class="list__time">9:00 am</div>
                    <div class="list__border"></div>
                    <div class="list__desc">
                        <h3>Breakfast</h3>
                        <div>Hit off your day with our delicious morning delicacies</div>
                        <!-- <div>Boarding: 11:00 am Destination: Denver, CO</div> -->
                        <div class="border"></div>
                    </div>
                </div>

                <div class="list__item">
                    <div class="list__time"> </div>

                    <div class="list__time">12:00 pm</div>
                    <div class="list__border"></div>
                    <div class="list__desc">
                        <h3>Departure </h3>
                        <div>Every good thing must come to an end</div>
                        <!-- <div>Boarding: 11:00 am Destination: Denver, CO</div> -->
                        <div class="border"></div>
                    </div>
                </div>

                
                
                
                
            </div>
        </div>
    </div>
</div>