@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap');

*{
  box-sizing: border-box;
  overflow: hidden;
}
.about{
  
  /* font-family: 'Cinzel', serif; */
  font-family: 'Ubuntu', sans-serif;


}
.disp{
  font-size: 2.5rem;;
}
  .size{
    font-size: 2rem;
  }
  .card:hover {
    /* transform: scale(1.03);  */
    /* background: rgba(212, 214, 219, 0.89); */
    background-color: #8ab6a7d8;

  }
  .text{
    color:#3d7a66b7;
}

/* .bg{
  background-color: #e3ece9;
} */

.card{
  background-color: #e3ece9;

}