

<div id="imageContainer" class="container-fluid">
    <img id="weddingImage" src="../../../assets/celebrations.jpg" class= 'px-0 img-fluid'>
    <!-- <div class="centered">
        "THANKING YOU FOR A TRULY MEMORABLE EVENT WEEKEND. VENICE PROVIDES A BREATHTAKING BACKGROUND FOR ANY PARTY BUT COMBINED WITH YOUR TALENTS, IT WAS SPECTACULAR! "
    </div> -->
</div>

<div class="conatiner-fluid pt-2 fontDesign">
    <div class="row ">
        
        <div class="col  ">

            <div class="space">
                <p class='size'>Services</p>
            </div>
            
        </div>
        <div class="col  ">
            <div class="space-left">
                <p>LET US HELP YOU PLAN THE PERFECT EVENT WITH EFFORTLESS STYLE</p>
            </div>

            
        </div>
    </div>

    <div class="row ">
        
        <div class="col  ">
            <div class="space">
                <p class='size'>Deventure Select</p>
            </div>
            
        </div>
        <div class="col ">
            <div class = "text space-left">
                <p>Deventure Select has a concierge style approach to helping you plan and coordinate a service in any city. With our connections, we will help you find a perfect venue, provide any accommodations for you and your guests, and ensure your party runs as smoothly as possible.</p>
            </div>
            
        </div>
    </div>
</div>



   
<div class="shell">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="wsk-cp-product">
                    <div class="wsk-cp-img">
                        <img src="../../../assets/peronalE.jpg" class="img-responsive" />
                    </div>
                    <div class="wsk-cp-text">
                        <div class="category">
                            <span class="small font-italic text-uppercase ">Personal Events</span>
                        </div>
                     <div class="title-product font italic text-muted small">
                            <p>Deventure Select specializes in making your personal events the most memorable one.From Ceremonies,Bachelor Parties to birthday events,we know where our customer's delight resides.We work upon ourselves consistently to give you the best</p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="wsk-cp-product">
                    <div class="wsk-cp-img">
                        <img src="../../../assets/sports.jpg" class="img-responsive" />
                    </div>
                    <div class="wsk-cp-text">
                        <div class="category">
                            <span class="small font-italic text-uppercase ">Sports Events</span>
                        </div>
                        <!-- <div class="title-product">
                            <h3>Birthday Party</h3>
                        </div> -->
                        <div class="title-product font italic text-muted small">
                            <p>Deventure Select is one of the most prestigious organization that is well equipped with all the necessary experience and domain knowledge that is required to bring one of the most sought after sports events at your disposal.</p>
                        </div>

                    </div>
                </div>
            </div>

            

            <div class="col-md-3">
                <div class="wsk-cp-product">
                    <div class="wsk-cp-img">
                        <img src="../../../assets/meet.jfif" class="img-responsive" />
                    </div>
                    <div class="wsk-cp-text">
                        <div class="category">
                            <span class="small font-italic text-uppercase ">Organizational Events</span>
                        </div>
                        <!-- <div class="title-product">
                            <h3>Birthday Party</h3>
                        </div> -->
                        <div class="title-product font italic text-muted small">
                            <p>We understand the professionalism and ethics required to build a reputed portfolio. We take pride in presenting ourselves as a dedicated team that is capable enough to look after your Educational and Corporate Event requirements.</p>
                        </div>

                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="wsk-cp-product">
                    <div class="wsk-cp-img">
                        <img src="../../../assets/travel.jpg" class="img-responsive" />
                    </div>
                    <div class="wsk-cp-text">
                        <div class="category">
                            <span class="small font-italic text-uppercase ">Travel </span>
                        </div>
                        <!-- <div class="title-product">
                            <h3>Birthday Party</h3>
                        </div> -->
                        <div class="title-product font italic text-muted small">
                            <p>Understand the importance of travel.It is The best remedy to all of your needs.We are one the most advanced and enthusiastic team that makes your holiday the most unforgettable one.Whether it is a solo trip or a group trip,you can rely upon us.</p>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
