<body class="bg pb-3 ">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 col-10 offset-1 mt-5">
                <h2 class="text-center mt-5 mb-5 pb-2 text-uppercase text-dark"><strong>Testimonials</strong></h2>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  
                  <div class="carousel-inner mt-4">
                    <div class="carousel-item text-center active">
                        <div class="img-box p-1 border rounded-circle m-auto">
                            <!-- <img class="d-block w-100 rounded-circle" src="http://nicesnippets.com/demo/profile-3.jpg" alt="First slide">
                             -->
                            <img class="d-block w-100 rounded-circle" src="../../../assets/pets.jpeg" alt="First slide">

                        </div> 
                        
                        <h5 class="mt-4 mb-0"><strong class="text text-uppercase">Pets n Care</strong></h5>
                        <!-- <h6 class="text-dark m-0">Web Developer</h6> -->
                        <p class="m-0 pt-3 text-dark">Deventure Select provided us with one of the most memorable moments of our lifetime, they helped us with our launch event and renedered magnificent services</p>
                    </div>
                    <div class="carousel-item text-center">
                        <div class="img-box p-1 border rounded-circle m-auto">
                            <img class="d-block w-100 rounded-circle" src="../../../assets/organic.jpeg" alt="First slide">
                        </div>
                        <h5 class="mt-4 mb-0"><strong class="text text-uppercase">Organic Habitat</strong></h5>
                        <!-- <h6 class="text-dark m-0">Web Designer</h6> -->
                        <p class="m-0 pt-3 text-dark">Kudos To the Team for
                            their upcoming ventures, one of the best PR service provider, looking forward to avail your service again</p>
                    </div>
                    <div class="carousel-item text-center">
                        <div class="img-box p-1 border rounded-circle m-auto">
                            <img class="d-block w-100 rounded-circle" src="../../../assets/grant.jpeg" alt="First slide">
                        </div>
                        <h5 class="mt-4 mb-0"><strong class="text text-uppercase">Grantknox Lifecare</strong></h5>
                        <!-- <h6 class="text-dark m-0">Seo Analyst</h6> -->
                        <p class="m-0 pt-3 text-dark">It was a nice experience with Deventure Select. These guys gave their best for my Business event. Best wishes for the future</p>
                    </div>
                  </div>
                  <a class="carousel-control-prev text-dark" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
            </div>            
        </div>
    </div>
</body> 

 